@font-face {
  font-family: "DungGen";
  src: url(/font/DungGeunMo.ttf);
}

@font-face {
  font-family: "Galmuri";
  src: url(/font/Galmuri.ttf);
}

@font-face {
  font-family: "Pre_R";
  src: url(/font/Pre_R.ttf);
}

@font-face {
  font-family: "Pre_SB";
  src: url(/font/Pre_SB.ttf);
}

@font-face {
  font-family: "Pre_B";
  src: url(/font/Pre_B.ttf);
}

@font-face {
  font-family: "Mon_SB";
  src: url(/font/Mon_SB.ttf);
}

@font-face {
  font-family: "Mon_B";
  src: url(/font/Mon_B.ttf);
}

:root {
  --pixel_B: "DungGen";
  --pixel_R: "Galmuri";
  --kr_R: "Pre_R";
  --kr_SB: "Pre_SB";
  --kr_B: "Pre_B";
  --en_SB: "Mon_SB";
  --en_B: "Mon_B"
}



#wrap {
  width: 100%;
  height: 100vh;
  min-height: 665px;
  background-image: url(/common/bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  width: 100%;
  height: 10vh;
  min-height: 100px;
  text-align: center;
  align-content: center;
  margin-bottom: 16px;
}

header h1 {
  display: inline-block;
}

.ms_inner {
  padding: 0 16px;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

#main {
  width: 1184px;
  max-width: 100%;
  height: 80vh;
  min-height: 560px;
  display: flex;
}

#main>div {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}

#main .subContents {
  width: 332px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-right: none;
  padding: 1.75rem;
  padding-right: 0;
  position: relative;
}

#main .mainContents {
  width: 852px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-left: none;
  padding: 1.75rem;
  padding-left: 0;
  position: relative;
}

#main .mainContents>.btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  top: 150px;
  right: -42px;
}

#main .mainContents>.btns button {
  width: 92px;
  height: 50px;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #383838;
  border-left: none;
  cursor: pointer;
  background-color: #22A1CE;
  color: #fff;
  font-family: var(--pixel_B);
  font-size: 1.2rem;
}

#main .mainContents>.btns button.active {
  background-color: #fff;
  color: #000;
}

#main .deco {
  position: absolute;
  width: 32px;
  height: 390px;
  top: 50%;
  right: -16px;
  transform: translateY(-40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

#main .deco .d_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}

#main .deco .d_item {
  width: 100%;
  height: 14px;
  border: 1px solid #CDCDCD;
  background-color: #fff;
  border-radius: 50px;
}

.subContents .s_line {
  width: 100%;
  height: 100%;
  border: 2px dashed #fff;
  border-radius: 16px;
  border-right: none;
  padding: 0.5rem;
  padding-right: 0;
}

.subContents .s_bg {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  border-radius: 12px;
  border: 1px solid #989898;
  border-right: none;
  padding: 8px;
}

.subContents .s_bg .t_title {
  display: none;
}

.subContents .s_bg .t_title h2 {
  font-family: var(--pixel_B);
  color: #0044BD;
  font-size: clamp(16px, 2vw, 32px);
  font-weight: normal;
}

.subContents .s_bg .s_text {
  height: 72px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 8px;
}

.subContents .s_bg .s_text span:first-child::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: #989898;
  margin-left: 1rem;
}

.subContents .s_bg .s_text span {
  font-family: var(--pixel_B);
  color: #989898;
}

.subContents .s_bg .s_text span strong {
  font-weight: normal;
}

.subContents .s_bg .s_text span .orange {
  color: #FF7E21;
}

.subContents .s_inner {
  width: 100%;
  height: calc(100% - 72px);
  overflow: auto;
  background-color: #fff;
  border: 1px solid #CDCDCD;
  border-radius: 8px;
  padding: 1.875rem;
}

.mainContents .m_line {
  width: 100%;
  height: 100%;
  border: 2px dashed #fff;
  border-radius: 16px;
  border-left: none;
  padding: 0.5rem;
  padding-left: 0;
}

.mainContents .m_bg {
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  border-radius: 12px;
  border: 1px solid #989898;
  border-left: none;
  padding: 8px;
}

.mainContents .m_bg .m_title {
  height: 72px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}

.mainContents .m_bg .m_title h2 {
  font-family: var(--pixel_B);
  font-weight: normal;
  color: #0044BD;
  font-size: 1.75rem;
}

.mainContents .m_inner {
  width: 100%;
  height: calc(100% - 72px);
  background-color: #fff;
  border: 1px solid #CDCDCD;
  border-radius: 8px;
  padding: 1.875rem;
  padding-right: 1rem;
  overflow-y: scroll;
}

#side {
  width: 280px;
  height: 190px;
  background-color: #fff;
  border: 1px solid #989898;
}

#side .tab {
  width: 100%;
  height: 40px;
  display: flex;
}

#side .tab span {
  width: 50%;
  text-align: center;
  align-content: center;
  font-family: var(--pixel_B);
}

#side .tab span:last-child {
  background-color: #F0F0F0;
  border-bottom: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  color: #989898;
}

#side .side_contents {
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
}

#side .side_contents .rel {
  width: 100%;
  height: 40%;
  padding-bottom: 20px;
  border-bottom: 1px dashed #CDCDCD;
  text-align: center;
  align-content: center;
  font-family: var(--pixel_B);
}

#side .side_contents .rel span {
  padding: 4px 6px;
  background-color: #22A1CE;
  border-radius: 50px;
  color: #fff;
}

#side .side_contents .per {
  width: 100%;
  height: 60%;
  padding-top: 20px;
  font-family: var(--pixel_R);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#side .side_contents .per>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#side .side_contents .per>div .bar {
  width: 8vw;
  height: 14px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: 1px solid #CDCDCD;
  overflow: hidden;
}

#side .side_contents .per .friendly .bar .f_inner {
  width: 90%;
  height: 100%;
  background-color: #F9A5F3;
}

#side .side_contents .per .teamwork .bar .t_inner {
  width: 95%;
  height: 100%;
  background-color: #6BA6F4;
}

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
}

.profile .top {
  width: 100%;
  height: 360px;
}

.profile .top .today {
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
  border: 1px solid #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .top .today span:first-of-type {
  font-family: var(--pixel_B);
  color: #22A1CE;
}

.profile .top .today figure {
  width: 16px;
  margin: 0 0.5rem;
}

.profile .top .today span:last-of-type {
  font-family: var(--pixel_R);
  font-size: 0.875rem;
}

.profile .top .p_img {
  width: 100%;
  border: 1px solid #CDCDCD;
}

.profile .top .p_text h4 {
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: normal;
  color: #0044BD;
  font-family: var(--pixel_B);
}

.profile .top .p_text p {
  font-family: var(--pixel_R);
  line-height: 160%;
}

.profile .bottom {
  width: 100%;
  height: 64px;
}

.profile .bottom .history {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 1px solid #CDCDCD;
  font-size: 0.75rem;
}

.profile .bottom .history .h_left {
  font-family: var(--pixel_R);
}

.profile .bottom .history .h_left span {
  color: #22A1CE;
  margin-right: 8px;
}

.profile .bottom .history .h_right {
  color: #989898;
}

.profile .bottom .wave {
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  border: 1px solid #989898;

}

.profile .bottom .wave .w_text {
  height: 100%;
  align-content: center;
  padding-left: 4px;
  font-family: var(--pixel_R);
  font-size: 0.875rem;
}

.profile .bottom .wave .w_arrow {
  width: 24px;
  height: 100%;
  background-color: #CDCDCD;
  align-content: center;
  text-align: center;
  font-size: 0.75rem;
}

.home .post {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.home .post h3 {
  width: 100%;
  margin-bottom: 16px;
  font-family: var(--pixel_B);
  font-weight: normal;
  color: #22A1CE;
}

.home .post .p_left {
  flex-grow: 1;
  border-top: 1px solid #CDCDCD;
  padding-top: 0.875rem
}

.home .post .p_left ul li {
  line-height: 2rem;
}

.home .post .p_left ul li span:first-child {
  padding: 4px 8px;
  background-color: #22A1CE;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  color: #fff;
  font-size: 0.875rem;
  font-family: var(--en_SB);
  margin-right: 8px;
}

.home .post .p_left ul li span:last-child {
  font-family: var(--kr_R);
}

.home .post .p_right {
  flex-grow: 1.5;
}

.home .post .p_right ul li {
  height: 2.2rem;
  border-bottom: 1px dashed #CDCDCD;
  display: flex;
  align-items: center;
  font-family: var(--kr_R);
  font-size: 0.875rem;
}

.home .post .p_right ul li span {
  width: 50%;
}

.home .post .p_right ul li:first-child {
  border-top: 1px dashed #CDCDCD;
}

.home .room {
  margin: 20px 0;
}

.home .room h3 {
  margin-bottom: 16px;
  font-family: var(--pixel_B);
  font-weight: normal;
  color: #22A1CE;
}

.home .comment h3 {
  margin-bottom: 16px;
  border-bottom: 1px solid #CDCDCD;
  padding-bottom: 8px;
  font-family: var(--pixel_B);
  font-weight: normal;
  color: #22A1CE;
}

.home .comment ul li {
  font-family: var(--kr_R);
  line-height: 160%;
}

.home .comment ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.home .comment ul li span {
  color: #22A1CE;
}

.home .put {
  background-color: #f0f0f0;
  height: 42px;
  padding: 8px;
  font-family: var(--kr_R);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.home .put input {
  flex-grow: 1;
  height: 24px;
  min-width: 0;
}

.home .put button {
  cursor: pointer;
  font-family: var(--pixel_R);
  font-size: 0.875rem;
  padding: 2px 4px;
  flex-shrink: 0;
  white-space: nowrap;
}

.about .title {
  width: 100%;
  height: 32px;
  background-color: #F0F0F0;
  padding-left: 8px;
  align-content: center;
  font-family: var(--en_B);
  border-top: 1px solid #CDCDCD;
  margin-bottom: 16px;
}

.about .aboutMe .about_contents {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about .aboutMe .about_contents figure {
  flex-basis: 190px;
  flex-grow: 1;
}

.about .aboutMe .about_contents figure img {
  border: 1px solid #CDCDCD;
  width: 100%;
}

.about .aboutMe .about_contents .text {
  flex-basis: 420px;
  flex-grow: 1;
}

.about .aboutMe .about_contents .text h2 {
  font-size: 1.5rem;
  font-family: var(--kr_B);
  margin-bottom: 2rem;
}

.about .aboutMe .about_contents .text h2 br {
  display: none;
}

.about .aboutMe .about_contents .text p {
  font-family: var(--kr_R);
  line-height: 180%;
  padding-right: 16px;
}

.about .skill {
  margin: 2.5rem 0;
}

.about .skill .skill_contents ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about .skill .skill_contents ul li {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.about .skill .skill_contents ul li figure {
  flex-basis: 80px;
  border: 1px solid #CDCDCD;
}

.about .skill .skill_contents ul li .keyword {
  display: flex;
  gap: 6px;
  margin-bottom: 4px;
}

.about .skill .skill_contents ul li .keyword span {
  padding: 4px 8px;
  background-color: #22A1CE;
  border-radius: 8px;
  font-size: 0.75rem;
  font-family: var(--en_SB);
  color: #fff;
}

.about .skill .skill_contents ul li>span {
  font-family: var(--kr_R);
}

.about .detail {
  display: flex;
  gap: 16px;
}

.about .detail>div {
  flex-basis: 50%;
}

.about .detail>div {
  font-family: var(--kr_R);
}

.about .detail .license .lic_contents li {
  line-height: 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.about .detail .license .lic_contents li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #22A1CE;
  border-radius: 100%;
}

.about .detail .experience .exp_contents .learn {
  margin-bottom: 2rem;
}

.about .detail .experience .exp_contents .sub_title>span {
  display: block;
  font-family: var(--en_SB);
  color: #22A1CE;
  margin-bottom: 1rem;
}

.about .detail .experience .exp_contents .learn ul li {
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .detail .experience .exp_contents .learn ul li span:first-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.about .detail .experience .exp_contents .learn ul li span:first-child::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #22A1CE;
  border-radius: 100%;
}

.about .detail .experience .exp_contents .learn ul li span:last-child {
  color: #989898;
  font-size: 0.875rem;
}

.about .detail .experience .exp_contents .work .work_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.about .detail .experience .exp_contents .work .work_info span:last-child {
  color: #989898;
  font-size: 0.875rem;
}

.about .detail .experience .exp_contents .work ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1.5rem;
}

.about .detail .experience .exp_contents .work ul li::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #22A1CE;
  border-radius: 100%;
}

.projectBtns h3 {
  font-family: var(--pixel_B);
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.projectBtns .swiper-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectBtns .swiper-wrapper .category_item button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: var(--pixel_R);
  padding: 0;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.projectList .headline {
  width: 100%;
  height: 32px;
  background-color: #F0F0F0;
  align-content: center;
  padding-left: 8px;
  margin-bottom: 16px;
  border-top: 1px solid #CDCDCD;
}

.projectList .headline span {
  display: block;
  font-family: var(--en_B);
}

.projectList .p_item .p_contents {
  display: flex;
  align-items: stretch;
  gap: 24px;
}

.projectList .p_item .p_contents figure {
  flex-basis: 50%;
}

.projectList .p_item .p_contents figure img {
  border: 1px solid #CDCDCD;
}

.projectList .p_item .p_contents .text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectList .p_item .p_contents .text h3 {
  font-weight: normal;
  font-family: var(--kr_B);
  font-size: 1.5rem;
  color: #22A1CE;
}

.projectList .p_item .p_contents .text .info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.875rem;
  font-family: var(--kr_R);
}

.projectList .p_item .p_contents .text .info span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #000;
  margin-left: 0.5rem;
}

.projectList .p_item .p_contents .text p {
  font-family: var(--kr_R);
  line-height: 160%;
  white-space: pre-line;
}

.projectList .p_item .p_contents .btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.projectList .p_item .p_contents .btns a {
  padding: 8px 16px;
  background-color: #22A1CE;
  border-radius: 8px;
  color: #fff;
  font-family: var(--kr_SB);
  transition: .3s;
}

.projectList .p_item .p_contents .btns a:hover {
  background-color: #0044BD;
}

.contact .contact_num {
  width: 100%;
  height: 32px;
  background-color: #F0F0F0;
  align-content: center;
  padding-left: 8px;
  margin-bottom: 16px;
  border-top: 1px solid #CDCDCD;
}

.contact .contact_num h4 {
  font-weight: normal;
  font-family: var(--pixel_B);
  font-size: 1.25rem;
}

.contact .contact_title {
  padding: 4rem 0;
  text-align: center;
}

.contact .contact_title h2 {
  font-weight: normal;
  font-family: var(--pixel_B);
  color: #22A1CE;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.contact .contact_title p {
  font-family: var(--pixel_R);
  line-height: 160%;
}

.contact .contact_info {
  height: 40px;
  border-top: 1px solid #CDCDCD;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  margin-bottom: 20px;
}

.contact .contact_info>span {
  color: #4D4D4D;
  font-family: var(--pixel_R);
  font-size: 0.875rem;
}

.contact .contact_info .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact .contact_info .info span {
  font-family: var(--pixel_R);
}

.contact .contact_info .info>div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact .contact_info>div figure {
  width: 32px;
}

.contact .contact_co {
  background-color: #F0F0F0;
  border-top: 1px solid #CDCDCD;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 8px 8px;
  color: #383838;
  font-family: var(--pixel_R);
  font-size: 0.875rem;
}


@media screen and (max-width: 1480px) {
  header {
    text-align: left;
    padding-left: 16px;
  }

  .ms_inner {
    display: block;
    padding-right: 32px;
  }

  #main {
    margin: 0 auto;
  }

  #side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: clamp(400px, 50vw, 512px);
    display: flex;
  }

  #side .tab {
    width: 20%;
    height: 100%;
    flex-direction: column;
  }

  #side .tab span {
    width: 100%;
    height: 50%;
    padding: 8px;
    text-align: center;
    align-content: center;
    font-family: var(--pixel_B);
  }

  #side .tab span:last-child {
    border-top: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-bottom: none;
    border-left: none;
  }

  #side .side_contents {
    width: 80%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
  }

  #side .side_contents .rel {
    width: 50%;
    height: 100%;
    padding-bottom: 0;
    border-bottom: none;
    border-right: 1px dashed #CDCDCD;
    padding: 16px;
    line-height: 16px;
  }

  #side .side_contents .rel span {
    margin-top: 8px;
  }

  #side .side_contents .per {
    width: 50%;
    height: 100%;
    justify-content: space-around;
    padding: 16px;
  }
}


@media screen and (max-width: 1252px) {
  html {
    font-size: 15px;
  }

  #main {
    width: 90vw;
  }

  #main .mainContents>.btns {
    right: -48px;
  }

  .projectBtns .swiper-wrapper .category_item button {
    font-size: 0.8rem;
  }

  .projectList .p_item .p_contents .btns a:hover {
    background-color: #22A1CE;
  }

}


@media screen and (max-width: 1024px) {
  header {
    height: 8vh;
    min-height: 80px;
  }

  header h1 img {
    width: 90%
  }

  #side {
    height: 80px;
  }

  #main .mainContents>.btns {
    top: 20px;
    gap: 4px;
  }

  .ms_inner {
    width: 90%;
  }

  #main {
    flex-direction: column;
    height: 86vh;
  }

  #main .mainContents>.btns {
    right: -36px;
    top: 40px;
  }

  #main .mainContents>.btns button {
    width: 80px;
    height: 50px;
  }

  #main .subContents {
    width: 100%;
    height: 30vw;
    min-height: 250px;
    border-right: 1px solid #fff;
    border-bottom: none;
    padding-right: 1.75rem;
    padding-bottom: 0;
  }

  .subContents .s_line {
    border-right: 2px dashed #fff;
    border-bottom: none;
    padding-right: 0.5rem;
    padding-bottom: 0;
  }

  .subContents .s_bg {
    border-right: 1px solid #989898;
    border-bottom: none;
  }

  .subContents .text_wrap {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
  }

  .subContents .s_bg .t_title {
    display: block;
  }

  .subContents .s_bg .s_text {
    height: 100%;
    padding-bottom: 14px;
  }

  .subContents .s_inner {
    height: calc(100% - 50px);
    padding: 1.5rem;
  }

  #main .mainContents {
    width: 100%;
    height: calc(100% - 30vw);
    border-left: 1px solid #fff;
    border-top: none;
    padding-left: 1.75rem;
    padding-top: 0;
  }

  .mainContents .m_line {
    border-left: 2px dashed #fff;
    border-top: none;
    padding-left: 0.5rem;
    padding-top: 0;
  }

  .mainContents .m_bg {
    border-left: 1px solid #989898;
    border-top: none;
  }

  .mainContents .m_bg .m_title {
    display: none;
  }

  .mainContents .m_inner {
    height: 100%;
    padding: 1.5rem;
    padding-right: 1rem;
  }

  #main .deco {
    width: 60vw;
    height: 32px;
    top: auto;
    bottom: -18px;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    flex-direction: row;
    justify-content: space-between;
  }

  #main .deco .d_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
  }

  #main .deco .d_item {
    width: 14px;
    height: 100%;
    border: 1px solid #CDCDCD;
    background-color: #fff;
    border-radius: 50px;
  }

  .profile {
    flex-direction: row;
    gap: 1rem;
  }

  .profile .top {
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0 1rem;
  }

  .profile .top .p_img {
    grid-column: 1;
    grid-row: 1/3;
    overflow: hidden;
    background-image: url(/common/profile.jpg);
    background-position: center;
    background-size: cover;
  }

  .profile .top .p_img figure {
    display: none;
  }

  .profile .top .today {
    grid-column: 2;
    grid-row: 1/2;
    margin-bottom: 0;
    padding: 4px;
  }

  .profile .top .p_text {
    grid-column: 2;
    grid-row: 2/3;
  }

  .profile .bottom {
    width: 35%;
    max-width: 100%;
  }

  .about .aboutMe .about_contents .text p {
    padding-right: 0;
  }


  .projectBtns {
    height: 100%;
    align-content: center;
  }

  .projectBtns .swiper {
    overflow-y: visible;
    padding-bottom: 32px;
  }

  .projectBtns .swiper-wrapper {
    flex-direction: row;
    gap: 0;
  }

  .swiper-pagination-bullet-active {
    background-color: #22A1CE;
  }
}


@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }

  .projectBtns .swiper-wrapper .category_item button {
    font-size: 0.9rem;
  }

  .projectList .p_item .p_contents .text .info {
    font-size: 0.9rem;
  }

  #main .mainContents {
    height: calc(100% - 250px);
  }
}


@media screen and (max-width: 768px) {
  #side {
    width: 100%;
    height: 32px;
  }

  #side .tab {
    display: none;
  }

  #side .side_contents {
    width: 100%;
    padding: 0 16px;
    justify-content: space-between;
  }

  #side .side_contents .rel {
    width: auto;
    border-right: none;
    padding: 0;
    line-height: 0;
  }

  #side .side_contents .rel span {
    margin-top: 0;
  }

  #side .side_contents .per {
    width: auto;
    flex-direction: row;
    justify-content: start;
    gap: 1.5rem;
    padding: 0;
  }

  #side .side_contents .per>div {
    justify-content: start;
    gap: 0.5rem;
  }

  #side .side_contents .per>div .bar {
    width: 12vw;
  }

  header {
    padding-top: 3.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  header h1 img {
    width: 80%
  }

  .ms_inner {
    padding-right: 16px;
    width: 100%;
  }

  #main {
    width: 100%;
  }

  #main .subContents {
    padding: 1rem;
    padding-bottom: 0;
  }

  #main .mainContents {
    padding: 1rem;
    padding-top: 0;
  }

  .subContents .s_bg .s_text {
    display: none;
  }

  .subContents .text_wrap {
    display: block;
    height: 32px;
    text-align: center;
    align-content: center;
    padding: 0;
  }

  .subContents .s_inner {
    height: calc(100% - 32px);
    padding: 8px;
  }

  .mainContents .m_inner {
    padding: 8px;
  }

  .profile .bottom {
    display: none;
  }

  .profile {
    display: block;
  }

  .profile .top {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
  }

  .profile .top .p_text {
    text-align: center;
  }

  .profile .top .p_text p {
    display: inline-block;
    text-align: left;
  }

  #main .deco {
    display: none;
  }

  #main .mainContents>.btns {
    width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
    top: 7px;
    left: 40px;
  }

  #main .mainContents>.btns button {
    width: 6rem;
    height: 36px;
    border-radius: 8px 8px 0 0;
    border-left: 1px solid #383838;
    border-bottom: none;
  }

  .mainContents .m_bg {
    padding-top: 43px;
  }
}


@media screen and (max-width: 700px) {
  .home .post {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .home .post .p_left {
    margin-bottom: 20px;
  }

  .about .aboutMe .about_contents {
    flex-direction: column;
  }

  .about .aboutMe .about_contents figure {
    flex-basis: auto;
  }

  .about .aboutMe .about_contents .text {
    flex-basis: auto;
  }

  .about .aboutMe .about_contents .text p {
    font-size: 1.1rem;
  }

  .about .skill .skill_contents ul li figure {
    flex-basis: 30%;
  }

  .about .skill .skill_contents ul li .text {
    flex-basis: 70%;
  }

  .about .detail {
    flex-direction: column;
  }

  .projectList .p_item .p_contents {
    flex-direction: column;
  }

  .projectList .p_item .p_contents .text {
    flex-basis: 140px;
  }

  .contact .contact_info {
    height: auto;
    flex-direction: column;
    padding: 8px 0;
    gap: 8px;
  }

  .contact .contact_info .info {
    flex-direction: column;
    gap: 0;
  }
}


@media screen and (max-width: 500px) {

  #main .mainContents>.btns {
    left: 50%;
    transform: translateX(-50%);

  }

  #main .mainContents>.btns button {
    width: 16vw;
  }

  .about .aboutMe .about_contents .text p br {
    display: none;
  }

  .about .aboutMe .about_contents .text h2 br {
    display: block;
  }

  .about .aboutMe .about_contents .text h2 {
    line-height: 160%;
    margin-bottom: 1.2rem;
  }

  .profile .top {
    grid-template-columns: 1.5fr 2fr;
  }

  .profile .top .p_text {
    text-align: left;
  }

  .contact .contact_title h2 {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 430px) {

  #side .side_contents .per {
    gap: 1rem;
  }

  .subContents .s_bg .t_title h2 {
    font-size: 3.8vw;
  }

  #main .mainContents>.btns button {
    height: 32px;
  }

  .mainContents .m_bg {
    padding-top: 38px;
  }

  .profile .top {
    grid-template-columns: 1fr 1fr;
  }

  .profile .top .today {
    flex-wrap: wrap;
  }

  .profile .top .today span:first-of-type {
    flex-basis: 100%;
  }

  .profile .top .today figure {
    margin-left: 0;
  }

  .profile .top .today {
    height: auto;
    justify-content: left;
    border: none;
    gap: 4px 0;
  }

  .profile .top .p_text p {
    font-size: 0.9rem;
  }
}


@media screen and (max-width: 390px) {


  #main .subContents {
    min-height: 230px;
  }

  .profile .top {
    grid-template-columns: 1fr 1.2fr;
  }

  #main .mainContents>.btns button {
    font-size: 1rem;
  }
}



@media screen and (max-width:365px) {

  .profile .top {
    grid-template-columns: 1fr 1.5fr;
  }

}