body {
  background-color: #000;
  color: #fff;
}

.wbox {
  max-width: 500px;
  border: 2px solid #808080;
  padding: 30px;
  border-radius: 24px;
  text-align: center;
  margin: 100px auto;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  gap: 24px;
  justify-content: center;
}