* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
#header {
  width: 100%;
  height: 10vh;
  min-height: 100px;
  border-bottom: 1px solid #ccc;
}

#header .header_i {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header_i nav ul {
  display: flex;
}

#header .header_i nav ul li {
  margin-left: 20px;
}

#header .header_i .ham {
  width: 30px;
  height: 30px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

#header .header_i .ham  .line {
  width: 100%;
  height: 4px;
  background-color: #222;
}
/* //header */

/* program */
#section {
  width: 100%;
  max-width: 1400px;
  margin: 150px auto;
}

#section h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 80px;
}

#section .allbox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 12px;
}

#section .allbox .box .img {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}

#section .allbox .box h3 {
  margin: 20px 0;
}

#section .allbox .box .name {
  font-weight: 700;
}

#section .allbox .box .date {
  font-size: 14px;
  color: #888;
  margin-bottom: 16px;
}
/* //program */

/* Product */
.pr .items {
  width: 100%;
  display: flex;
  gap: 20px;
}

.pr .items .item {
  width: 100%;
}

.pr .items .item .img {
  width: 100%;
  height: 350px;
  background-color: #000;
}

.pr .items .item h3 {
  margin: 20px 0;
}
/* //Product */

/* footer */
#footer {
  width: 100%;
  height: 30vh;
  background-color: #000;
  color: #fff;
}

#footer .footer_i {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* //footer */

@media screen and (max-width: 1024px) {
  /* header */
  #header {
    padding: 0 40px
  }

  #header nav {
    display: none;
  }
  
  #header .header_i .ham  {
    display: flex;
  }
  /* //header */

  /* program */
  #section {
    padding: 0 40px;
  }

  #section .allbox {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 12px;
  }
   /* program */
}

@media screen and (max-width:767px) {
  /* header */
  #header {
    padding: 0 16px;
  }
  /* //header */

  /* program */
  #section {
    padding: 0;
  }

  #section h2 {
    padding: 0 16px;
  }

  #section .allbox {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }

  #section .allbox .box *:not(.img) {
    padding: 0 16px;
  }

  .pr .items {
    flex-direction: column;
    gap: 50px;
  }

  .pr .item *:not(.img){
    padding: 0 16px;
  }
  /* //program */
}