*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  width: fit-content;
  height: fit-content;
}

.active {
  background-color: blue;
}

.newslist {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 16px;
}

.newsitem {
  width: 100%;
  max-width: 400px;
  border-bottom: 1px solid #000;
  padding: 24px;
}

.newsitem h2 span {
  font-size: 20px;
  font-weight: 500;
  color: #666;
  margin-left: 24px;
}

